body {
  font-family: 'Roboto', sans-serif;
}

/* Header section */

.header {
  display: flex;
  background: #111111;
}

.header h1, .header p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.header h1:hover {
  cursor: pointer;
  color: rgb(218, 218, 218);
}

.header .logo, .header .profile-icon  {
  color: white;
  font-size: 1.5rem;
}

.header .user-info {
  margin-right: 0.8rem;
}

.header .user-info h1 {
  margin-bottom: 0;
}

.header p {
  font-size: 0.5rem;
  font-weight: 300;
  margin-top: 0.1rem;
  letter-spacing: 0.07rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-left: 1rem;
}

.header-left .logo {
  margin-left: 0.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-right .profile-icon {
  margin-right: 0.5rem;
}

/* Sidebar section */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar h1 {
  font-size: 1rem;
  padding: 0.5rem 6rem 0.5rem 0.5rem;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  border-top: 2px solid #E2E2E2;
}

.sidebar h1:hover {
  background: #efefef;
  color: #308166;
  cursor: pointer;
}

/* Main content section */

.main-container {
  background: #E2E2E2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
}

.main {
  margin-bottom: 4rem;
}

.main h1 {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 3rem 0rem 2rem 4rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 0rem 4rem 0rem 2rem;
}

.flex-container p {
  border: 3px solid #E2E2E2;
  margin: 0;
  padding: 2rem;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
}

.flex-top {
  display: flex;
}

/* Footer section */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E9E9E9;
}

.footer img {
  height: 3rem;
  margin: 3rem;
}

.footer a {
  margin-right: 6rem;
  color: #308166;
}

.footer a:hover {
  color: #36c394;
}